{
    "presets": [
        [
            "@babel/env",
            {
                "targets": {
                    "node": 4
                },
                "useBuiltIns": "entry",
                "corejs": 2
            }
        ]
    ]
}
